/*_____________________RED_THEME______________________*/
/* --body-before:#00ff771a; /* This is the background that creates the crt lines, background uses a transparency of 10% SET TO NONE TO REMOVE CRT EFFECT */
/* --body-after: #00ff7733; /* This is the background that creates the crt lines, background uses a transparency of 20% SET TO NONE TO REMOVE CRT EFFECT */
/* --body-animation: flicker; This is the background that flickers. SET TO NONE TO REMOVE THE FLICKER ANIMATION! */
/* --custom-text-header-animation: textflicker; /* SET TO NONE TO REMOVE THE FLICKER ANIMATION! */

@import url(/css/addons/unraid/login-page/retro-terminal/retro-terminal-base.css);
:root {
--main-bg-color: black;
--body-before: #ff00001a;
--body-after: #ff000033;
--body-animation: flicker;
--logo: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/62357d99-802b-4771-ad22-7db3df8bad24/dc1shyl-25576d7b-04a1-4310-830f-f1487361820b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzYyMzU3ZDk5LTgwMmItNDc3MS1hZDIyLTdkYjNkZjhiYWQyNFwvZGMxc2h5bC0yNTU3NmQ3Yi0wNGExLTQzMTAtODMwZi1mMTQ4NzM2MTgyMGIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mYUnV2dAQ-XODYtcSnnTVbBe6XDe-dkaCIm2MrhBMzQ) center no-repeat;
--text-color: #e22828;
--input-color: #e22828;
--link-color: #e22828;
--link-color-hover: #ffffff;
--case-color: #e22828;
--button-text-color: #e22828;
--button-text-color-hover: #000;
--button-color: #e22828;
--button-color-hover: #ffffff;
--selection-color: #ffffff;
--custom-text-header: #e22828;
--custom-text-header-shadow: #e22828;
--custom-text-header-animation: textflicker;
--input-font: 'Share Tech Mono', monospace;
--text-font: 'Share Tech Mono', monospace;
--loginbox-background-color: transparent;
--text-shadow: 0 0 8px;
--text-shadow-color: #e22828;
--box-shadow: 0 0 15px;
}
